---
---

@import "{{ site.theme }}";
.inner {
  max-width: 1000px;
}
img {
  width: 100%;
  max-width: 1000px;
}
#forkme_banner {
  background: url("../images/blacktocat.png") transparent no-repeat 95% 50%;
}
