---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
body {
  font-family: "Mansalva", sans-serif;
}
.inner {
  max-width: 1000px;
}
img {
  width: 100%;
  max-width: 1000px;
}
#forkme_banner {
  background: url("../images/blacktocat.png") transparent no-repeat 95% 50%;
}
