---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  background: transparent;
}

.inner {
  max-width: 1000px;
}

img {
  width: 100%;
  max-width: 1000px;
}

#forkme_banner {
  background: url("../images/blacktocat.png") transparent no-repeat 95% 50%;
}
